%html
  %head
    %title Oops, I mingled again
  %body
    #content
      #main
        #home_button{:onclick => "location.href='#{donate}'"}
          %center
            %a{:href => donate} Click to find a new home for your old computer
      #footer        
        %center Login | Charities | About
