%html
  %head
    %title DeadBox.in - Find a new home for your old computer
    %link{:rel => :stylesheet, :type => "text/css", :href => "/home.css"}
  %body
    #content
      #main
        #home_button{:onclick => "location.href='#{donate}'"}
          %center
            %a{:href => donate} Click to find a new home for your old computer
      #footer        
        %center Login | Charities | About
